# 131
for문의 실행결과를 예측하라.

In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

# 132
for문의 실행결과를 예측하라.

In [7]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

# 133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

In [5]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [8]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

# 134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

In [10]:
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [11]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

# 135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

In [12]:
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [13]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

# 136
다음 코드를 for문으로 작성하라.

In [14]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [15]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

# 137
다음 코드를 for문으로 작성하라.``

In [253]:
print(10)
print(20)
print(30)

10
20
30

In [20]:
for i in range(10, 31, 10):
    print(i)

10
20
30

# 138
다음 코드를 for문으로 작성하라.

In [21]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [22]:
for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

# 139
다음 코드를 for문으로 작성하라.

In [23]:
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [25]:
print("++++")
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

# 140
다음 코드를 for문으로 작성하라.

In [28]:
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [29]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

# 141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라.  
단 부가세는 10원으로 가정한다.

In [30]:
리스트 = [100, 200, 300]

```
출력예시:
110
210
310
```

In [31]:
for i in 리스트:
    print(i + 10)

110
210
310

# 142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

In [32]:
리스트 = ["김밥", "라면", "튀김"]

```
출력예시:
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [33]:
for i in 리스트:
    print("오늘의 메뉴: {}".format(i))

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

# 143
리스트에 주식 종목이름이 저장돼 있다.

In [34]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

```
출력예시:
6
4
4
```

In [35]:
for i in 리스트:
    print(len(i))

6
4
4

# 144
리스트에는 동물이름이 문자열로 저장돼 있다.

In [37]:
리스트 = ['dog', 'cat', 'parrot']

동물 이름과 글자수를 다음과 같이 출력하라.
```
출력예시:
dog 3
cat 3
parrot 6
```

In [38]:
for i in 리스트:
    print("{} {}".format(i, len(i)))

dog 3
cat 3
parrot 6

# 145
리스트에 동물 이름 저장돼 있다.

In [40]:
리스트 = ['dog', 'cat', 'parrot']

for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```
출력예시:
d
c
p
```

In [41]:
for i in 리스트:
    print(i[0])

d
c
p

# 146
리스트에는 세 개의 숫자가 바인딩돼 있다.

In [43]:
리스트 = [1, 2, 3]

for문을 사용해서 다음과 같이 출력하라.
```
출력예시:
3 x 1
3 x 2
3 x 3
```

In [44]:
for i in 리스트:
    print("{} x {}".format(3, i))

3 x 1
3 x 2
3 x 3

# 147
리스트에는 세 개의 숫자가 바인딩돼 있다.

In [45]:
리스트 = [1, 2, 3]

for문을 사용해서 다음과 같이 출력하라.
```
출력예시:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [46]:
for i in 리스트:
    print("{} x {} = {}".format(3, i, i*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

# 148
리스트에는 네 개의 문자열이 바인딩돼 있다.

In [47]:
리스트 = ["가", "나", "다", "라"]

for문을 사용해서 다음과 같이 출력하라.
```
출력예시:
나
다
라
```

In [49]:
for i in 리스트[1:]:
    print(i)

나
다
라

# 149
리스트에는 네 개의 문자열이 바인딩돼 있다.

In [50]:
리스트 = ["가", "나", "다", "라"]

for문을 사용해서 다음과 같이 출력하라.
```
출력예시:
가
다
```

In [51]:
for i in 리스트[::2]:
    print(i)

가
다

# 150
리스트에는 네 개의 문자열이 바인딩돼 있다.

In [53]:
리스트 = ["가", "나", "다", "라"]

for문을 사용해서 다음과 같이 출력하라.

```
출력예시:
라
다
나
가
```

In [54]:
for i in 리스트[::-1]:
    print(i)

라
다
나
가

# 151
리스트에는 네 개의 정수가 저장돼 있다.

In [55]:
리스트 = [3, -20, -3, 44]

for문을 사용해서 리스트의 음수를 출력하라.
```
출력예시:
-20
-3
```

In [56]:
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

# 152
for문을 사용해서 3의 배수만을 출력하라.

In [57]:
리스트 = [3, 100, 23, 44]

```
출력예시:
3
```

In [58]:
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

# 153
리스트에서 20 보다 작은 3의 배수를 출력하라

In [60]:
리스트 = [13, 21, 12, 14, 30, 18]

```
출력예시:
12
18
```

In [61]:
for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

# 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

In [62]:
리스트 = ["I", "study", "python", "language", "!"]

```
출력예시:
study
python
language
```

In [63]:
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

# 155
리스트에서 대문자만 화면에 출력하라.

In [65]:
리스트 = ["A", "b", "c", "D"]

```
출력예시:
A
D
```

(참고) isupper() 메서드는 대문자 여부를 판별합니다.

In [67]:
변수 = "A"
변수.isupper()

True

In [68]:
변수 = "a"
변수.isupper()

False

In [69]:
for i in 리스트:
    if i.isupper():
        print(i)

A
D

# 156
리스트에서 소문자만 화면에 출력하라.

In [71]:
리스트 = ["A", "b", "c", "D"]

```
출력예시:
b
c
```

In [72]:
for i in 리스트:
    if i.islower():
        print(i)

b
c

# 157
이름의 첫 글자를 대문자로 변경해서 출력하라.

In [74]:
리스트 = ['dog', 'cat', 'parrot']

```
출력예시:
Dog
Cat
Parrot
```

(참고) upper() 메서드는 문자열을 대문자로 변경합니다.

In [76]:
변수 = "a"
변수.upper()

'A'

In [77]:
변수 = "abc"
변수.upper()

'ABC'

In [78]:
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [82]:
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

# 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

In [83]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

```
출력예시:
hello
ex01
intro
```

In [84]:
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

# 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

In [86]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

```
출력예시:
intra.h
define.h
```

In [88]:
for i in 리스트:
    if i.split('.')[-1] == 'h':
        print(i)

intra.h
define.h

# 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

In [90]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

```
출력예시:
intra.h
intra.c
define.h
```

In [94]:
for i in 리스트:
    if i.split('.')[-1] == 'h' or i.split('.')[-1] == 'c':
        print(i)

intra.h
intra.c
define.h

# 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
```
출력예시:
0
1
2
3
...
97
98
99
```

In [95]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# 162
월드컵은 4년에 한 번 개최된다.  
range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

```
출력예시
2002
2006
2010
...
2042
2046
2050
```

참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

In [97]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [98]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

# 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.
```
출력예시:
3 
6 
9 
12 
15 
18 
21 
24 
27 
30
```

In [101]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

# 164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
```
99
98
97
...
4
3
2
1
0
```

In [105]:
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

# 165
for문을 사용해서 아래와 같이 출력하라.
```
출력예시:
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [107]:
for i in range(10):
    print("{:.1f}".format(0.1 * i))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

# 166
구구단 3단을 출력하라.
```
출력예시:
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [109]:
for i in range(10):
    print("{}x{} = {}".format(3, i, 3*i))

3x0 = 0
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

# 167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
```
출력예시:
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```

In [112]:
for i in range(1, 10, 2):
    print("{}x{} = {}".format(3, i, 3*i))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

# 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
```
출력예시:
합 : 55
```

In [114]:
sum([i for i in range(1, 11)])

55

# 169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
```
출력예시:
합: 25
```

In [117]:
sum([i for i in range(1, 11) if i % 2 == 1])

25

# 170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

출력예시:  
3628800

In [119]:
m = 1
for i in range(1, 11):
    m *= i
print(m)

3628800

# 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [121]:
price_list = [32100, 32150, 32000, 32500]

```
출력예시:
32100
32150
32000
32500
```

In [124]:
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

# 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [125]:
price_list = [32100, 32150, 32000, 32500]

```
출력예시:
0 32100
1 32150
2 32000
3 32500
```

In [127]:
for i in range(len(price_list)):
    print("{} {}".format(i, price_list[i]))

0 32100
1 32150
2 32000
3 32500

# 173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [128]:
price_list = [32100, 32150, 32000, 32500]

```
출력예시:
3 32100
2 32150
1 32000
0 32500
```

In [132]:
for i in range(len(price_list)):
    print("{} {}".format(len(price_list)-(i+1), price_list[i]))

3 32100
2 32150
1 32000
0 32500

# 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [133]:
price_list = [32100, 32150, 32000, 32500]

```
출력예시:
100 32150
110 32000
120 32500
```

In [135]:
for i in range(1, len(price_list)):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

# 175
my_list를 아래와 같이 출력하라.

In [136]:
my_list = ["가", "나", "다", "라"]

```
출력예시:
가 나
나 다
다 라
```

In [140]:
for i in range(len(my_list) - 1):
    print("{} {}".format(my_list[i], my_list[i + 1]))

가 나
나 다
다 라

# 176
리스트를 아래와 같이 출력하라.

In [141]:
my_list = ["가", "나", "다", "라", "마"]

```
출력예시:
가 나 다
나 다 라
다 라 마
```

In [142]:
for i in range(len(my_list) - 2):
    print("{} {} {}".format(my_list[i], my_list[i + 1], my_list[i + 2]))

가 나 다
나 다 라
다 라 마

# 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

In [144]:
my_list = ["가", "나", "다", "라"]

```
출력예시:
라 다
다 나
나 가
```

In [151]:
for i in range(len(my_list)-1, 0, -1):
    print("{} {}".format(my_list[i], my_list[i - 1]))

라 다
다 나
나 가

# 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

In [153]:
my_list = [100, 200, 400, 800]

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다.  
이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
```
출력예시:
100
200
400
```

In [154]:
for i in range(len(my_list) - 1):
    print(my_list[i + 1] - my_list[i])

100
200
400

# 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

In [156]:
my_list = [100, 200, 400, 800, 1000, 1300]

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다.  
두 번째 줄에는 200, 400, 800의 평균값이 출력된다.  
같은 방식으로 나머지 데이터의 평균을 출력한다.
```
출력예시:
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [163]:
for i in range(len(my_list) - 2):
    print(sum(my_list[i:i+3]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

# 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다.  
고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [164]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

```
출력예시:
[50, 100, 30, 80, 0]
```

In [165]:
volatility = []
for low, high in zip(low_prices, high_prices):
    volatility.append(high - low)

print(volatility)

[50, 100, 30, 80, 0]

In [166]:
volatility = [high - low for low, high in zip(low_prices, high_prices)]
print(volatility)

[50, 100, 30, 80, 0]

# 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

|101호|	102호|
|---|---|
|201호|	202호|
|301호|	302호|

In [168]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

# 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

|시가|	종가|
|---|---|
|100|	80|
|200|	210|
|300|	330|

In [171]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

# 183
아래 표를 stock 이름의 딕셔너리로 표현하라.  
시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.  
종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

|시가|	종가|
|---|---|
|100|	80|
|200|	210|
|300|	330|

In [173]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

# 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라.  
날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다.  
첫 열이 날짜이다.

|10/10|	80 |	110|	70 |	90|
|---|---|---|---|---|
|10/11|	210|	230|	190|	200|

In [174]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

# 185
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [178]:
apart = [ [101, 102], [201, 202], [301, 302] ]

```
출력예시:
101 호
102 호
201 호
202 호
301 호
302 호
```

In [183]:
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print("{} 호".format(apart[i][j]))

101 호
102 호
201 호
202 호
301 호
302 호

In [185]:
for i in apart:
    for j in i:
        print("{} 호".format(j))

101 호
102 호
201 호
202 호
301 호
302 호

# 186
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [192]:
apart = [ [101, 102], [201, 202], [301, 302] ]

```
출력예시:
301 호
302 호
201 호
202 호
101 호
102 호
```

In [193]:
for i in range(len(apart)-1, -1, -1):
    for j in range(len(apart[i])):
        print("{} 호".format(apart[i][j]))

301 호
302 호
201 호
202 호
101 호
102 호

In [195]:
for i in apart[::-1]:
    for j in i:
        print("{} 호".format(j))

301 호
302 호
201 호
202 호
101 호
102 호

# 187
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [196]:
apart = [ [101, 102], [201, 202], [301, 302] ]

```
출력예시:
302 호
301 호
202 호
201 호
102 호
101 호
```

In [198]:
for i in apart[::-1]:
    for j in i[::-1]:
        print("{} 호".format(j))

302 호
301 호
202 호
201 호
102 호
101 호

# 188
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [200]:
apart = [ [101, 102], [201, 202], [301, 302] ]

```
출력예시:
101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----
```

In [203]:
for i in apart:
    for j in i:
        print("{} 호".format(j))
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

# 189
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [205]:
apart = [ [101, 102], [201, 202], [301, 302] ]

```
출력예시:
101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----
```

In [208]:
for i in apart:
    for j in i:
        print("{} 호".format(j))
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

# 190
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [210]:
apart = [ [101, 102], [201, 202], [301, 302] ]

```
출력예시:
101 호
102 호
201 호
202 호
301 호
302 호
-----
```

In [211]:
for i in apart:
    for j in i:
        print("{} 호".format(j))
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

In [213]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

```
출력예시:
2000.28
3050.427
2050.2870000000003
...
```

In [219]:
for i in data:
    for j in i:
        print(j + j * 0.00014)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

# 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

```
출력예시:
2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
```

In [222]:
for i in data:
    for j in i:
        print(j + j * 0.00014)
    print("----")

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

# 193
192 번 문제의 결과값을 result 이름의 리스트에 1차원 배열로 저장하라.

출력예시:
```python
>> print(result)
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
```

In [230]:
result = []
for i in data:
    for j in i:
        result.append(j + j * 0.00014)
    
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [225]:
result = [j + j * 0.00014 for i in data for j in i]
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

# 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라.  
저장 포맷은 아래와 같다.  
각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

출력예시:
```python
>> print(result)
[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]
```

In [229]:
result = []
for i in data:
    sub = []
    for j in i:
        sub.append(j + j * 0.00014)
    result.append(sub)
    
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [233]:
arr = [[j + j * 0.00014 for j in i] for i in data]
print(arr)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

# 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.  
화면에 종가데이터를 출력하라.

In [236]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

```
출력예시:
100
190
310
```

In [237]:
for i in ohlc[1:]:
    print(i[3])

100
190
310

# 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.  
종가가 150원보다 큰경우에만 종가를 출력하라.

In [239]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

```
출력예시:
190
310
```

In [240]:
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

# 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.  
종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [241]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

```
출력예시:
100
310
```

In [243]:
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

# 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.  
고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [244]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

```
출력예시:
[40, 30, 10]
```

In [245]:
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1] - i[2])
    
volatility

[40, 30, 10]

In [246]:
volatility = [i[1] - i[2] for i in ohlc[1:]]
volatility

[40, 30, 10]

# 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다.  
종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [248]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다.  
따라서 이 거래일의 변동성은 10 (310 - 300)이다.
```
출력예시:
10
```

In [249]:
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1] - i[2])

10

# 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [250]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

```
출력예시:
0
```

In [251]:
총수익금 = 0
for i in ohlc[1:]:
    총수익금 += i[0] - i[3]
    
총수익금

0

In [252]:
sum([i[0] - i[3] for i in ohlc[1:]])

0